<div class="home-above mb-2">
    <div class="row">
            <div class="col-12 col-md-3 order-2 order-md-1">
                <div class="h-100 mt-2 mt-md-0">
                    @{
                        Html.RenderAction("HomepageCategories", "Catalog");
                    }
                </div>
            </div>
            <div class="col-12 col-md-9 pl-md-0 order-1 order-md-2">
                <div class="border h-100">

                    <!-- Slider main container -->
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="https://thungnhomchuyendung.com/media/260/file/57f1c57c0584f5daac95.jpg" class="img-fluid" /></div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>
                            ...
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>

    
</div>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>