<?xml version="1.0" encoding="utf-8" ?>
<siteMap>

  <siteMapNode id="lms" title="LMS" resKey="Plugins.FriendlyName.SmartStore.LMS" iconClass="icm icm-desktop" permissionNames="catalog.product, catalog.productreview, catalog.category, catalog.manufacturer, catalog.variant, catalog.attribute, cart.checkoutattribute">
    <siteMapNode id="categories-list" title="List" resKey="Admin.Catalog.Categories" controller="Category" action="Index" area="Admin" iconClass="fa fa-sitemap" permissionNames="catalog.category" />
    <siteMapNode id="products" iconClass="fa fa-cube" title="Manage products" resKey="Admin.Catalog.Products.Manage" controller="Product" action="List" area="Admin" permissionNames="catalog.product" />
    <siteMapNode id="products-bulk-edit" iconClass="fa fa-cubes" title="Bulk edit products" resKey="Admin.Catalog.BulkEdit" controller="Product" action="BulkEdit" area="Admin" permissionNames="catalog.product" />
    <siteMapNode id="reviews" iconClass="far fa-star-half" title="Product reviews" resKey="Admin.Catalog.ProductReviews" controller="ProductReview" action="List" area="Admin" permissionNames="catalog.productreview" />
    <siteMapNode id="manufacturers" iconClass="far fa-building" title="Manufacturers" resKey="Admin.Catalog.Manufacturers" controller="Manufacturer" action="List" area="Admin" permissionNames="catalog.manufacturer" />
    <siteMapNode id="tags" title="Product tags" resKey="Admin.Catalog.ProductTags" controller="Product" action="ProductTags" area="Admin" iconClass="fa fa-tags" permissionNames="catalog.product" />
    <siteMapNode id="stockreport" iconClass="fa fa-sort-numeric-down" title="Low stock report" resKey="Admin.Catalog.LowStockReport" controller="Product" action="LowStockReport" area="Admin" permissionNames="catalog.product" />

    <siteMapNode id="attributes-header" isGroupHeader="true" title="Attributes" resKey="Admin.Catalog.Attributes" />
    <siteMapNode id="attributes" iconClass="far fa-list-alt" title="Products attributes" resKey="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" area="Admin" permissionNames="catalog.variant" />
    <siteMapNode id="specification-attributes" iconClass="fa fa-list" title="Specification attributes" resKey="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" area="Admin" permissionNames="catalog.attribute" />
    <siteMapNode id="checkout-attributes" iconClass="fa fa-list" title="Checkout attributes" resKey="Admin.Catalog.Attributes.CheckoutAttributes" permissionNames="cart.checkoutattribute" controller="CheckoutAttribute" action="List" area="Admin" />
  </siteMapNode>
  
</siteMap>