//
// Customize the child theme here with css overrides
// or new selectors (for theme developers)
// --------------------------------------------------

.menubar-inverse.menubar-section{
    border: 0
}
.menubar-link {
    padding: 0.5em 0.8em;
}
.artlist{
    margin-bottom: 0;
}
.art {
    margin-left: 0;
}
.artlist-4-cols .art{
    border-right-color: transparent !important
}

.recently-viewed-product-grid .art{
    border-color: transparent !important
}

.artlist-grid.artlist-boxed .art {
    box-shadow: none;
    border: 1px solid #dee2e6
}

.artlist-homepage-categories {
    height: 100%;
    margin: 0 !important
}

.artlist-homepage-categories .art {
    margin: -1px -1px 0 0 !important;
    flex-basis: 50% !important;
    max-width: 50% !important;
    border-radius: 0;
}