//
// Customize the child theme here with css overrides
// or new selectors (for theme developers)
// --------------------------------------------------

.art {
    margin-left: 0;
    margin-top: 0;
}
.artlist-4-cols .art{
    border-right-color: transparent !important
}