
@{
    Layout = null;
}

<a class="navbar-brand mx-0 mr-3" href="@Url.Action("Index", "Home", new { area = "Admin" })">
    <img class="navbar-img d-none d-lg-block" src="~/Plugins/SmartStore.LMS/Content/logo.svg" alt="Smartstore" />
    <img class="navbar-img d-lg-none" src="~/Administration/Content/images/smartstore-icon.svg" alt="Smartstore" />
</a>